<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        #tile1 {
            background-color: #2471A3;
            height: 400px;
        }

        #tile2 {
            background-color: #85C1E9;
            height: 400px;
        }

        #tile3 {
            background-color: #85C1E9;
            height: 400px;
        }

        #tile4 {
            background-color: #2471A3;
            height: 400px;
        }

        #tile5 {
            background-color: #626567;
        }
    </style>
</head>

<body>
    <section style="background-color: #394b59;" class="hero is-fullheight">
        <div class="hero-head">
            <header class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="https://i.imgur.com/983aJax.png?1" width="200rem" alt="Logo">
                        </a>
                    </div>
                    <div id="navbarMenuHeroC" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <p class="has-text-white">Welcome {{name}}!</p>
                            </span>
                            <span class="navbar-item">
                                <p class="has-text-white">{{points}} points</p>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-info" style="background-color: #85C1E9;" href="/logout">
                                    <span>Log Out</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered is-vcentered">
                    <div class="column is-4">
                        <div class="tile is-ancestor">
                            <div class="tile is-vertical">
                                <div class="tile">
                                    <div class="tile is-parent is-vertical has-text-centered">
                                        <article class="tile is-child notification is-info" id="tile5">
                                            <p style="text-align: center; font-size: 4rem;font-weight: bold;line-height: 1;"
                                                class="has-text-white">Level</p>
                                            <p style="text-align: center; font-size: 6rem;font-weight: bold;line-height: 1;"
                                                class="has-text-white">{{level}}</p>
                                            <progress style="margin-top: 1rem;" class="progress is-info"
                                                value="{{remainder}}" max="100"></progress>
                                            <p style="text-align: center; font-size: 1rem;line-height: .1;"
                                                class="has-text-white">{{ptg}}
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="column is-1">
                    </div>
                    <div class="column is-7">
                        <div class="tile is-ancestor">
                            <div class="tile is-vertical">
                                <div class="tile">
                                    <div class="tile is-parent is-vertical has-text-centered">
                                        <article class="tile is-child notification is-info" id="tile1">
                                            <a href="/level/flashcards" style="text-decoration: none;">
                                                <p class="title">Flashcards</p>
                                                <span class="icon is-large">
                                                    <i class="fas fa-bolt" style="font-size: 4em;"></i>
                                                </span>
                                            </a>
                                        </article>
                                        <article class="tile is-child notification is-link" id="tile2">
                                            <a href="/level/spaceman" style="text-decoration: none;">
                                                <p class="title">Spaceman</p>
                                                <span class="icon is-large">
                                                    <i class="fas fa-user-astronaut" style="font-size: 4em;"></i>
                                                </span>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="tile is-parent is-vertical has-text-centered">
                                        <article class="tile is-child notification is-link" id="tile3">
                                            <a href="/level/clockrace" style="text-decoration: none;">
                                                <p class="title">Clock Race</p>
                                                <span class="icon is-large">
                                                    <i class="fas fa-stopwatch" style="font-size: 4em;"></i>
                                                </span>
                                            </a>
                                        </article>
                                        <article class="tile is-child notification is-info" id="tile4">
                                            <a href="/freeplay" style="text-decoration: none;">
                                                <p class="title">Free Play</p>
                                                <span class="icon is-large">
                                                    <i class="fas fa-play" style="font-size: 4em;"></i>
                                                </span>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="tile is-parent is-vertical has-text-centered">
                                        <article class="tile is-child notification is-info" id="tile1">
                                            <a href="/flashcards" style="text-decoration: none;">
                                                <p class="title">Game 5</p>
                                                <span class="icon is-large">
                                                    <i class="fas fa-robot" style="font-size: 4em;"></i>
                                                </span>
                                            </a>
                                        </article>
                                        <article class="tile is-child notification is-link" id="tile2">
                                            <a href="/spaceman" style="text-decoration: none;">
                                                <p class="title">Game 6</p>
                                                <span class="icon is-large">
                                                    <i class="fas fa-braille" style="font-size: 4em;"></i>
                                                </span>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>